@{
    ViewData["Title"] = "E-mail potwierdzony";
}

<h1>@ViewData["Title"]</h1>
<p>
    Dziękujemy za potwierdzenie adresu e-mail. Możesz się teraz zalogować.
</p>
<p>
    <a asp-action="Login" asp-controller="Account">Kliknij tutaj, aby się zalogować</a>
</p>