@{
    ViewData["Title"] = "Rejestracja zakończona";
}

<h1>@ViewData["Title"]</h1>
<p>
    Dziękujemy za rejestrację. Zanim będziesz mógł się zalogować,
    musisz potwierdzić swój adres e-mail, klikając w link wysłany na Twoją skrzynkę.
</p>