@model GameInLibrary

@{
    ViewData["Title"] = "Usuń grę";
}

<h1>Usuń grę z biblioteki</h1>

<h3 class="text-danger">Czy na pewno chcesz usunąć tę grę ze swojej biblioteki?</h3>
<div class="alert alert-danger">
    Tej operacji nie można cofnąć. Utracisz wszystkie zapisane postępy i statusy osiągnięć dla tej gry.
</div>
<div>
    <h4>Gra o ID IGDB: @Model.IgdbGameId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data dodania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAddedToLibrary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Tak, usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Nie, wróć do biblioteki</a>
    </form>
</div>